.useCasesContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    padding: 2rem;
    color: #d6b400;
    background: #1b1b1bbb;
    border-radius: 2%;
}
.useCasesContent h2 {
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: #d6b400 2px;
    text-transform: uppercase;
}
.useCasesContent p {
    margin: 2rem 0 2rem 0;
}

.canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    border: none;
    pointer-events: none;
}
@media only screen and (min-width: 992px) {
    .useCasesContent h2 {
        font-size: 4rem;
    }
}