.headerContent {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 2rem;
    background: black;
    color: #d6b400;
}

    .navLinks {
        display: none;
    }
        ul {
            display: flex;
        }
            li {
                padding: 0 2vw 0 2vw;
            }
@media only screen and (min-width: 992px) {
    .navLinks{
        display:block;
    }
}