.headerPosition {
    display: none;
    position: fixed;
    width: 100%;
}
    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        color: #fff;
    }
        .logo {
            height:12vh;
            cursor: pointer;
        }
        .navLinks {
            display: none;
        }
@media only screen and (min-width: 992px) {
    .headerChangeColor {
        position: fixed;
        width: 100%;
        background-color: black;
        transition: .3s ease-in;
        z-index: 1;
    }
    .navLinks {
        display: flex;
    }
    .navLinks li {
        display: block;
        margin-right: 3vw;
        padding-bottom: 1vh;
        cursor: pointer;
        background:
        linear-gradient(
          to right,
          black,
          black
        ),
        linear-gradient(
          to right,
          rgba(128, 102, 33, 0.95),
          rgba(184, 148, 50, 0.95),
          rgba(243, 235, 235, 0.95)
      );
      background-size: 100% 3px, 0 3px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 400ms;
    }
    .navLinks li:hover {
        background-size: 0 3px, 100% 3px;
    }
}