.background {
    background-color:rgba(0, 0, 0, 0.863);
}

.headerContent {
    display:flex;
    justify-content: space-between;
    position:sticky;
    padding: 4vh;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255)
}

.navLinks {
    display: flex;
}

.navLinks div {
    padding-left: 6vw;
}