.roadmap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    color: white;
}
    .title {
        display: flex;
        margin: 5rem 0rem 1rem 0rem;
        padding: 1rem;
        font-size: 2rem;
        text-transform: uppercase;
        border: 5px groove rgba(184, 148, 50, 0.95);
        border-radius: 35%;
    }
    img {
        margin-right: 1vw;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .info img {
        padding: 2rem;
    }
    .roadmapContent {
        padding: 2rem;
        border: 1rem double rgba(184, 148, 50, 0.95);
    }
    .roadmapContent p{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    @media only screen and (min-width: 992px) {
       .info {
           margin: 6rem;
       }
    }