.presentationContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(
        54deg,rgba(184, 148, 50, 0.95) 34%,rgba(243, 235, 235, 0.911));
    min-height: 100vh;
}
    .presentationContent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
    }
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            text-transform: uppercase;
        }
        .infoW {
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-text-stroke: black 1px;
            margin: 1rem 4rem 1rem 4rem;
        }
        @media only screen and (min-width: 992px) {
            .presentationContainer {
                background: linear-gradient(
                    54deg,rgba(184, 148, 50, 0.95) 34%,rgba(243, 235, 235, 0.911)), url('../../../../public/bennu-background.png');
                background-repeat: no-repeat;
                background-position: right;
                min-height: 100vh;
                background-size: contain;
            }
            .presentationContent {
                position: absolute;
                padding-left: 5vw;
            }
            .title {
                font-size: 4rem;
            }
        }